---
layout: page
title: Blog
permalink: /blog/
---

<div class="home">
  
  <div class="row">
   <div class="col">
     <h3>Posts</h3>
   </div>
 
  </div>
  <ul class="post-list">
    {% for post in site.posts limit:4 %}
     <li>
        <i class="material-icons">date_range</i>
        <span class="post-meta chip">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><i class="material-icons">gesture</i>&nbsp;{{ post.title }}</a>
        <p class="truncate_words">{{ post.excerpt }}</p>
      </li>
{% endfor %}
   </ul>
  <p class="rss-subscribe chip">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><img src="{{"/assets/images/rss.png"}}" class="responsive-img" style="max-height:40px; width:auto;"></a></p>

</div>

<!-- <ul class="posts">  
	{% for post in site.posts limit:20 %}  
	   <li>  
		   <span>{{ post.date | date_to_string }}</span> &raquo;  
		   <a href="{{ BASE_PATH }}{{ post.url }}">  
		   {{ post.title }}</a>  
	   </li>  
	{% endfor %}  
</ul>

{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %} -->
