
 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                 <ul class="contact-list">
                    <li>{{ site.title }}</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                  </ul>
                <p class="grey-text text-lighten-4">{{ site.description }}</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Find Me Here</h5>
                <ul>
                    {% if site.github_username %}
                    <li>
                      {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                      {% include icon-twitter.html username=site.twitter_username %}
                    </li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Thanks For Visiting
            <a class="grey-text text-lighten-4 right">Available for Hire</a>
            </div>
          </div>
        </footer>
<!--JS Scripts-->
<script src="{{"/assets/js/jquery-1.11.3.min.js"}}"></script>
<script src="{{"/assets/js/dummy.min.js"}}"></script>
<script src="{{"/assets/js/truncate.js"}}"></script>
<script src="{{ "/assets/js/materialize.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/init.js" | prepend: site.baseurl }}"></script>
