body{
	background-color:#EBF0FF;
	color:#505050;
	font-family: verdana;
}
section{
 width:70%; 
 text-align: left;
 margin-left:10%;
 margin-top: 50px;
}
#profile_pic{
 float:right;
 border:5px solid #E6E6E6;
 border-radius: 150px;
}
#profile_pic:hover{
  width:300px;
  height:300px;
}
nav{

  text-align: center;
  background-color:  #C2D1FF;
  border:5px solid  #7094FF;
	border-radius:50px;
	margin-left:12%;
  margin-right: 12%;
}
nav div
{
  display:inline-block;
  width:10%;
  border-radius:50px;
  margin-left:2%;
  margin-right: 2%;
}
nav a{
  color:#484848 ;
  text-decoration:none;
}
nav div:hover{
  background-color: #E65C00;
}
nav a:hover{
  color:white;
}
.introduction{
     margin-left:10%;
     margin-right: 10%;
     
     background-color: #D6E0FF;
     border:5px solid  #7094FF;
     border-radius:25px;

}
.whole_part{
  margin-left: 10px;
  margin-right: 10px;
}
