body{
	background-color:#fff;
}
nav {
	background-color: #37474f ;
}
/*Header Css Starts here*/
.site-title{
  padding-left: 10px;
}
/*Header Css ends here*/
/*index page css*/
#hofhi{
	font-size: 50px;
}
.hr{
	width: 10%;
	height: 2px;
	background-color: #78909c;
	margin-bottom: 10px;

}
.site-title{
	color: #fff;
}

.page-footer{
	background-color: #37474f !important;
}
.recent-blog-list{
  
}
.post-list p{
text-align: justify;
}
.post-list li{
	background-color:#f0f0f0;
	padding: 10px;
	box-shadow: 1px 1px 1px #999999;
}
.post-meta{
	box-shadow: 1px 1px 1px #999999;
}

#about-me{
 text-align: justify;
}

.post-header h1{
	font-size: 2.28rem;
	text-align: center;
}
.post-meta{
	text-align: center;
}


/*Resume css*/
#resumepdf{
	width: 80%;
	min-height: 600px;
}
/*Resume css ends here*/