body{
	background-color:#f0f0f0;
}
nav {
	background-color: #37474f ;
}

/*index page css*/
#hofhi{
	font-size: 50px;
}
.hr{
	width: 10%;
	height: 2px;
	background-color: #78909c;
	margin-bottom: 10px;

}
.site-title{
	color: #fff;
}

.page-footer{
	background-color: #37474f !important;
}
.recent-blog-list{
  
}
.post-list p{
text-align: justify;
}
#about-me{
 text-align: justify;
}

.post-header h1{
	font-size: 2.28rem;
	text-align: center;
}
.post-meta{
	text-align: center;
}


/*Resume css*/
#resumepdf{
	width: 80%;
	min-height: 600px;
}
/*Resume css ends here*/